<nav class="nav">
  <div class="nav__header">
    <a href="#" class="nav__brand">Recipe Book</a>
  </div>
  <div class="nav__body">
    <ul class="nav__menu-primary">
      <li class="nav__item">
        <a
          class="nav__link"
          routerLinkActive="active"
          *ngIf="isAuthenticated"
          [routerLink]="['/recipes']">Recipes</a>
      </li>
      <li class="nav__item">
        <a
          class="nav__link"
          routerLinkActive="active"
          *ngIf="!isAuthenticated"
          [routerLink]="['/auth']">Authenticate</a>
      </li>
      <li class="nav__item" routerLinkActive="active">
        <a
          class="nav__link"
          routerLinkActive="active"
          [routerLink]="['/shopping-list']">Shopping list</a>
      </li>
    </ul>
    <ul class="nav__menu-secondary">
      <li class="nav__item">
        <a
          class="nav__link"
          *ngIf="isAuthenticated"
          (click)="onLogout()"
        >Logout</a>
      </li>
      <li class="dropdown" *ngIf="isAuthenticated">
        <a
          class="dropdown__toggle"
          appDropdown
        >Manage</a>
        <ul class="dropdown__menu">
          <li class="dropdown__item">
            <a class="dropdown__link" (click)="onSaveData()">Save Data</a>
          </li>
          <li class="dropdown__item">
            <a class="dropdown__link" (click)="onFetchData()">Fetch Data</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
