<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div class="error" *ngIf="error">
  <p class="error__text">
    {{error}}
  </p>
</div>

<form class="form"
      *ngIf="!isLoading"
      #authForm="ngForm"
      (ngSubmit)="onSubmit(authForm)">
  <div class="form__body u-m-b-medium">
    <label i18n for="email" class="form__label">Email</label>
    <input
      class="form__input"
      type="email"
      id="email"
      name="email"
      autocomplete="username"
      ngModel
      required
      email
    >

    <label i18n for="password" class="form__label">Password</label>
    <input
      class="form__input"
      type="password"
      id="password"
      name="password"
      autocomplete="current-password"
      minlength="6"
      ngModel
      required
    >
  </div>

  <div class="form__footer">
    <button i18n class="btn btn--green"
            type="submit"
            [disabled]="!authForm.valid">
      {{isLoginMode ? 'Login' : 'Sign up'}}
    </button>
    <button i18n class="btn btn--green"
            type="button"
            (click)="onSwitchMode()">
      Switch to {{isLoginMode ? 'sing up' : 'login'}}
    </button>
  </div>
</form>
