*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5% ; // 10 / 16 = 0.625 -> 0.625 * 100 = 62.5% -> 1rem = 10px
}

body {
  padding: 0 3rem;
  box-sizing: border-box;
}


