/////////////////////////////////////////////////////
// TEXT

.u-center-text {text-align: center}

/////////////////////////////////////////////////////
// MARGIN

.u-m-b-small {margin-bottom: 2rem}
.u-m-b-medium {margin-bottom: 4rem}
