@import "../abstracts/variable";

%link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: $color-font-secondary;
  cursor: pointer;
}

%u-list {
  list-style: none;
  font-size: 1.5rem;
  color: $color-font-secondary;
}

%input-font {
  font-family: inherit;
  font-size: 1.5rem;
  color: $color-font-primary;
}
