@use "../abstracts/variable" as var;

%link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: var.$color-font-secondary;
  cursor: pointer;
}

%u-list {
  list-style: none;
  font-size: 1.5rem;
  color: var.$color-font-secondary;
}

%input-font {
  font-family: inherit;
  font-size: 1.5rem;
  color: var.$color-font-primary;
}
