$color-font-primary: #777;
$color-font-secondary: #fff;
$color-font-tertiary: #000;

$color-background-primary: orangered;
$color-background-secondary: green;
$color-background-tertiary: #127880;
$color-background-light: #c3ffd2;


$color-border-primary: #299ff8;

$box-shadow-medium: 0 1rem 1rem rgba($color-font-tertiary, .2);
