.app-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.recipe-section {
  display: flex;
  justify-content: space-between;
  padding: 3rem;

  margin-bottom: 6rem;
}

.recipe-list-section,
.recipe-detail-section {
  flex: 0 0 50%;

}
