<p i18n class="paragraph u-m-t-small">
  What are creation operators?
</p>
<p i18n class="paragraph u-center-text">
  Distinct from pipeable operators, creation operators
  are function that can be used to create an observable with common predefined
  behavior or by joining other Observables.
</p>

<div class="l-grid-2">
  <ul class="list-div"
      *ngIf="oddNumbers">
    <li class="list-div__item list-div__header">
      <p class="paragraph">Odd</p>
    </li>
    <li class="list-div__item" *ngFor="let num of oddNumbers"
        [style.font-size]="(num * 2 + 20) + 'px'">
      {{num}}
    </li>
  </ul>

  <ul class="list-div"
      *ngIf="oddNumbers">
    <li class="list-div__item list-div__header">
      <p class="paragraph">Even</p>
    </li>
    <li class="list-div__item" *ngFor="let num of evenNumbers"
        [style.font-size]="(num * 2 + 20) + 'px'">
      {{num}}
    </li>
  </ul>
</div>

<!--<p class="paragraph">Value of random number is: {{randomNumber}}</p>-->

<!--<ul class="list-div"-->
<!--    *ngIf="titles">-->
<!--  <li class="list-div__item" *ngFor="let title of titles">-->
<!--    <p class="paragraph">{{title}}</p>-->
<!--  </li>-->
<!--</ul>-->
