@import "../abstracts/variable";

.btn {
  text-transform: uppercase;
  font-size: 1.6rem;

  padding: 1.5rem 4rem;
  border: none;
  border-radius: 10rem;
  cursor: pointer;

  transition: all .2s;

  &:hover {
    transform: translateY(-0.3rem);
  }

  &:focus {
    outline: none;
    transform: translateY(-0.1rem);
  }

  &--green {
    background-color: $color-background-secondary;
    color: $color-font-secondary;
  }

  &--red {
    background-color: $color-background-primary;
    color: $color-font-secondary;
  }

  &--grey {
    background-color: $color-background-tertiary;
    color: $color-font-secondary;
  }

  &:disabled {
    background-color: $color-font-primary;
  }

}
