@import "../abstracts/variable";
@import "../abstracts/extend";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 60%;
  padding: 5rem;
  margin: 3rem auto;

  background-color: $color-background-light;
  border-radius: 1rem;
  box-shadow: $box-shadow-medium;

  &--full {
    width: 90%;
    padding: 1.5rem;
  }

  &__body {
    display: grid;
    grid-template-columns: minmax(5rem, 1fr) minmax(10rem, 2fr);
    gap: 2rem;

    margin-bottom: 3rem;
  }

  &__label {
    justify-self: end;
    align-self: center;
    @extend %input-font;
  }

  &__input {
    justify-self: start;
    @extend %input-font;
    padding: 1rem 0.5rem;

    &--full {
      grid-column: 1 / span 2;
    }
  }

  &__img {
    grid-column: 1 / span 2;
    width: 100%;
    height: auto;
  }

  &__footer {
    display: flex;

    & button:not(:last-of-type) {
      margin-right: 1rem;
    }
  }

}
