@import "../abstracts/variable";
@import "../abstracts/extends";

.list-button {
  @extend %u-list;
  padding: 30px 50px;

  &__item {
    width: 50%;
  }

  &__item:not(:last-of-type) {
    margin-bottom: 15px;
  }
}
