<form class="form">
  <div class="form__body">
    <label for="name" class="form__label">Name</label>
    <input type="text" class="form__input" id="name">
    <label for="amount" class="form__label">Name</label>
    <input type="number" class="form__input" id="amount">
  </div>
  <div class="form__footer">
    <button class="form__button" type="submit">Add</button>
    <button class="form__button" type="button">Delete</button>
    <button class="form__button" type="button">Clear</button>
  </div>
</form>
