<form class="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form__body">
    <label for="name" class="form__label">Name</label>
    <input
      type="text"
      class="form__input"
      id="name"
      name="name"
      value="Test"
      ngModel
      required
    >
    <label for="amount" class="form__label">Amount</label>
    <input
      type="number"
      class="form__input"
      id="amount"
      name="amount"
      value="100"
      ngModel
      required
      pattern="^[1-9]+[0-9]*$"
    >
  </div>
  <div class="form__footer">
    <button
      class="btn btn--green"
      type="submit"
      [disabled]="!f.valid"
    >{{editMode ? 'Update' : 'Add'}}</button>
    <button
      class="btn btn--red"
      type="button"
      *ngIf="editMode"
      (click)="onDelete()"
    >Delete</button>
    <button
      class="btn btn--grey"
      type="button"
      (click)="onClear()"
    >Clear</button>
  </div>
</form>
